a {
    text-decoration: none;
    color: coral;
    font-weight: 500;
}

a:hover{
    color: coral;
    font-weight: 500;
    text-decoration: none;
}

.title {
    padding-left: 5%;
    font-size: 2.5em;
    padding-bottom: 5%;
    color: #c6c6c6;
}

.topArea {
    padding-top: 0.7%;
    margin-top: 0%;
    width: 51.5%;
    height: auto;
    left: 25%;
    background-color: #3c3c3c;
    border-bottom-left-radius: 5px;;
    border-bottom-right-radius: 5px;;
    position: relative;
}

.topTable {
    width: 100%;
    margin-bottom: 2%;
}

.login-form{
    text-align: right;
}

.authInputField {
    margin: 1%;
    width: 20%;
}

#registerButtonTd {
    text-align: center;
    padding-right: 2%;
}

.registerArea{
    width: 30%;
    margin-left:35%;
    text-align: left;
}

.registerInputField{
    /*width: 30%;*/
    /*text-align: center;*/
    /*margin-left:35%*/
}

#logoutButtonTd {
    text-align: left;
    padding-left: 2%;
}

#profileButtonTd {
    text-align: right;
}


.messagesArea {
    width: 51.5%;
    height: 100%;
    max-height: 52%;
    left: 25%;
    margin-bottom: 5%;
    padding-left: 0.5%;
    padding-top: 0.5%;
    background-color: #f4f4f4;
    position: relative;
    overflow-y: auto;
    border-radius: 7px;
    border: solid #e7e7e7;
}

.nameOfMessage {
    width: 98.5%;
    /*resize: none;*/
    border: none;
    height: auto;
    max-height: 500px;
    background-color: #f4f4f4;
    text-align: left;
    font-size: 1.4em;
    font-weight: bold;
}

.textOfMessage {
    margin-top: -1.5%;
    width: 98.5%;
    resize: none;
    border: none;
    height: auto;
    max-height: 500px;
    background-color: #f4f4f4;
}

.dateOfMessage {
    margin-top: -2%;

    text-align: right;
    margin-right: 2%;
    font-size: 1em;
}

#inputArea {
    width: 51.5%;
    left: 25%;
    background-color: #FFFFFF;
    position: fixed;
    bottom: 3%;
}

#nameField {
    width: 100%;
}

#messageField {
    width: 100%;
    resize: none;
}

#sendButton {
    /*font-size: 3%;*/
    display:block;
    width: 20%;
    margin:0 auto;
    margin-top: 2%;
}

.registerForm {
    margin-top: 5%;
    text-align: center;
}

.rateButton {
    display: inline;
    width: 1.5em;
    height: 1.5em;
    /*background: #4E9CAF;*/
    padding: 10px;
    text-align: center;
    margin-right: 0.3%;
    /*border-radius: 5px;*/
    color: white;
    font-weight: bold;
    background-repeat: no-repeat;
    background-color: Transparent;
    border: none;
    outline:none;
    background-size: cover;
}

button.rateButton:hover{
    cursor: hand;
}


#likeButton{
    background-image: url("like.png");
}

#notLikeButton{
    background-image: url("notlike.png");
}

#selectLikeButton{
    background-image: url("selectLike.png");
}

#selectNotlikeButton{
    background-image: url("selectNotLike.png");
}