#inputArea {
    width: 40%;
    left: 30%;
    background-color: #FFFFFF;
    position: fixed;
    bottom: 5%;
}

#nameField {
    width: 100%;
}

#messageField {
    width: 100%;
    resize: none;
}

#sendButton {
    display:block;
    width: 20%;
    margin:0 auto;
    margin-top: 2%;
}

#messagesArea {
    top: 2%;
    width: 41.5%;
    height: 63%;
    left: 30%;
    background-color: #FFFFFF;
    position: fixed;
    bottom: 5%;
    overflow-y: auto;
}

.textOfMessage {
    width: 98.5%;
    resize: none;
    border: none;
    height: auto;
    max-height: 500px;
    background-color: #FFFFFF;
}

.nameOfMessage {
    text-align: left;
    font-size: 1.4em;
}

.dateOfMessage {
    margin-top: -0.5%;
    text-align: right;
    margin-right: 2%;
    font-size: 1.1em;
}