.title {
    font-size: 5em;
}

.topTable {
    width: 100%;
}

.loginFormAttribute{
    text-align: right;
}

#registerButton {
    text-align: left;
    padding-left: 2%;
}

.authInputField {
    margin: 1%;
    width: 20%;
}

.topArea {
    width: 51.5%;
    height: auto;
    left: 25%;
    /*margin-bottom: 3%;*/
    background-color: #FFFFFF;
    position: relative;
}

.messagesArea {
    width: 51.5%;
    height: 100%;
    max-height: 60%;
    left: 25%;
    margin-bottom: 3%;
    background-color: #FFFFFF;
    position: relative;
    overflow-y: auto;
}

.nameOfMessage {
    width: 98.5%;
    resize: none;
    border: none;
    height: auto;
    max-height: 500px;
    background-color: #FFFFFF;
    text-align: left;
    font-size: 1.4em;
    font-weight: bold;
}

.textOfMessage {
    margin-top: -1.5%;
    width: 98.5%;
    resize: none;
    border: none;
    height: auto;
    max-height: 500px;
    background-color: #FFFFFF;
}

.dateOfMessage {
    margin-top: -0.5%;
    text-align: right;
    margin-right: 2%;
    font-size: 1em;
}

#inputArea {
    width: 50%;
    left: 25%;
    background-color: #FFFFFF;
    position: relative;
    bottom: 5%;
}

#nameField {
    width: 100%;
}

#messageField {
    width: 100%;
    resize: none;
}

#sendButton {
    display:block;
    width: 20%;
    margin:0 auto;
    margin-top: 2%;
}

.registerForm {
    margin-top: 5%;
    text-align: center;
}

.rateButton {
    display: inline;
    width: 20px;
    height: 20px;
    /*background: #4E9CAF;*/
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-repeat: no-repeat;
}

#likeButton{
    background-image: url("like.png");
}

#notlikeButton{
    background-image: url("notlike.png");
}
